<div class="content">
  <% if comments_mode != 'full' #i.e. contents#show %>
    <% if content.title != ''%>
      <div class="title"> <%= content.title %> </div>
    <% end %>
  <% else %>
    <% title_text = content.title != '' ? content.title : 'Untitled' %>
    <div class="title"> 
      <%= content.title %> by <%= link_to content.user.username, content.user %> feat. 
      <% content.dogs.each_with_index do |dog, index| %>
        <% if index != 0 # FIRST DOG %>
          - <%= link_to dog.name, dog %>
        <% else %>
          <%= link_to dog.name, dog %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if type == 'video' %>
    <div class="video-container" data-controller="contents">
      <% metadata = content.attached_video.blob.metadata %>
      <% aspect_ratio = metadata[:width].to_f / metadata[:height].to_f %>
      <%= video_tag rails_blob_path(content.attached_video, only_path: true), controls: true, data: {contents_target: "video", aspect_ratio: aspect_ratio } %>
    </div>
  <% elsif type == 'image' %>
    <% content.attached_images.each do |attached_image| %>
      <%= image_tag attached_image.variant(media_size),  class: 'zoomable', "data-action": "click->window#openImageContainer", "data-original-url": rails_blob_path(attached_image, only_path: true)  %>
    <% end %>
  <% end %>
  <% if content.body != '' && !content.body.nil? %>
    <div class="body"> <%= content.body %> </div>
  <% end%>

  <div class="barks-comments-<%= comments_mode %>">
    <%= render "shared/barks", barks: barks, barkable: content %><% if comments_mode != 'full' %> | <% end %> 
    <%= render "shared/comments", commentable: content, comments: comments, commentable_type: 'content', comments_mode: comments_mode %>
  </div>
</div>