<% if feed_contents.nil? || feed_contents.count == 0 %>
  <div class="feed-content transparent-bg core-content">
    <div class="title">No feed content!</div>
    <div class="breadcrumb-link">
      <% if empty_link == 'image' %>
        <% if current_user && defined?(@user) && @user == current_user %>
          <% if current_user.dogs.count == 0 %>
            You haven't added any dogs yet! Try adding a <%= link_to 'dog', new_dog_path %>!
          <% elsif !defined?(@dog) %>
            You haven't posted anything yet! Try sharing an <%= link_to 'image', new_image_contents_path %> of <%= current_user.dogs.first.name %>
          <% end %>
        <% elsif current_user && defined?(@dog) && @dog.user == current_user %>
          You haven't posted anything yet! Try sharing an <%= link_to 'image', new_image_contents_path %> of <%= @dog.name %>!
        <% end %>
      <% elsif empty_link == 'dogs' %>
        Try finding some <%= link_to 'dogs', dogs_path %> to track!
      <% end %>
    </div>
  </div>
<% else %>
  <% feed_contents.each do |feed_content| %>
    <div class="feed-content transparent-bg core-content">
      <% if feed_content.class.name.downcase == 'content' %>
        <%= render "contents/contentshow", content: feed_content, media_size: :feedsize, type: feed_content.content_type, comments: feed_content.comments, comments_mode: 'short', barks: feed_content.barks %>
      <% elsif feed_content.class.name.downcase == 'playdate' %>
        <%= render feed_content, play_date: feed_content, comments_mode: 'short', include_actions: false %>
      <% end %>
    </div>
  <% end %>
<% end %>