<%= form_with(model: content, html: {"data-controller": "forms"}) do |form| %>
  <div class="single-input">
    <%= form.label :title, class: "shorter" %>
    <%= form.text_field :title, class: "longer-input" %>
  </div>

  <div class="single-input">
    <% if type == 'post'%>
      <%= form.label :body, class: "shorter", style: "display: block" %>
      <%= form.text_area :body, minlength: 10, maxlength: 2000, class: "longer-input"  %>
    <% else %>
      <%= form.label :body, "Caption", class: "shorter", style: "display: block" %>
      <%= form.text_field :body, maxlength: 200, class: "longer-input"  %>
    <% end %>
  </div>

  <% if type == 'image'%>
    <div class="attachments" data-controller="contents">
      <div class="single-input">
        <%= form.label :attached_images, style: "display: block" %>
        <% if mode != 'Edit' # Cannot alter attached images via editing %>
          <%= form.file_field :attached_images, multiple: true, accept: "image/*", data: { maxFiles: 10, contents_target: "fileupload" } %>
        <% end %>
      </div>
      <div class="preview-images" data-contents-target="imgpreview">
        <% if content.attached_images.attached? %>
          <% content.attached_images.each do |attached_image| %>
            <%= image_tag attached_image.variant(:thumb) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif type == 'video' %>
    <div class="attachments single-input">
      <% if content.attached_video.attached? %>
        <div class="video-container" data-controller="contents">
          <% metadata = content.attached_video.blob.metadata %>
          <% aspect_ratio = metadata[:width].to_f / metadata[:height].to_f %>
          <%= video_tag rails_blob_path(content.attached_video, only_path: true), controls: true, data: {contents_target: "video", aspect_ratio: aspect_ratio } %>
        </div>
      <% else %>
        <%= form.label :attached_video, style: "display: block" %>
        <%= form.file_field :attached_video, accept: "video/*" %>
      <% end %>
    </div>
  <% end %>

  <%= render 'shared/dogselector', object: content, dogs: content.dogs, tag_string: 'content[dog_ids][]', action: 'select' %>

  <div class="wide-button">
    <%= form.hidden_field 'dog_ids][]', value: '' %>
    <%= form.hidden_field :content_type, value: @content.content_type %>
    <%= form.submit "#{mode}", "data-action": "click->forms#submitFormWithRequireDog", class: "#{mode.downcase} simple-btn" %>
  </div>

  <%= render 'shared/errors', object: content %>
<% end %>