<div class="core-window registrations">
  <div class="core-content transparent-bg">
    <div class="title">Resend confirmation instructions</div>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <div class="single-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend", class: "simple-btn small test" %>
      </div>
    <% end %>

    <br><%= link_to "Back to login", new_session_path(resource_name) %>
    <%= render "shared/errors", object: resource %>
  </div>
</div>
