<div class="core-window registrations new">
  <div class="core-content transparent-bg top">
    <div class="title">Join Bark Pups!</div>
    <%= image_tag asset_path('BarkPupsLogo.png'), width: 100 %>
    <div class="intro-text">Bark Pups is social media / play-dating for dogs and dog-lovers. Post videos of your dog. Bark at pictures of other dogs. Schedule play-dates at nearby dog parks. Join now and meet your dog's new best friend!</div>
    <div class="dog-list">
      <% @random_dogs.each do |dog| %>
        <div class="list-dog">
          <%= render 'dogs/dog', dog: dog, full_details: false, show_ownership: false, image_link: true %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="core-content transparent-bg">
    <div class="title">Sign up</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="single-input">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, required: true, class: "text-input", autocomplete: "email" %>
      </div>

        <div class="single-input">
        <%= f.label :username, "Username" %>
        <%= f.text_field :username, autofocus: true, required: true, class: "text-input", autocomplete: "email" %>
      </div>

      <div class="single-input">
        <%= f.label :password %>
        <%= f.password_field :password, required: true, class: "text-input", autocomplete: "new-password" %>
      </div>

      <div class="single-input">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, required: true, class: "text-input", autocomplete: "new-password" %>
      </div>

      <div class="single-input">
        <%= f.label :time_zone %>
        <%= f.select :time_zone, ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] }, { prompt: 'Select Time Zone' } %>
      </div>

      <%= f.submit "Sign up", class: "simple-btn create" %>

      <%= render "shared/errors", object: resource %>
    <% end %>
  </div>
</div>
