<div class="dog partial-dog">
  <% if dog.avatar.attached? %>
    <%= image_tag dog.avatar.variant(:thumb) %><br>
  <% end %>
  <% years_old = (Time.zone.now.to_date - dog.birthdate).to_i / 365 %>
  <% months_old = (Time.zone.now.to_date - dog.birthdate).to_i / 30 %>
  <strong>Name:</strong> <%= dog.name %>, a 
  <% if years_old == 0 %> 
    <%= months_old %> months old 
  <% else %>
    <%= years_old %> years old 
  <% end %>
  <%= dog.breed %> weighing <%= dog.weight %> lbs.
</div>
