<div class="dog partial-dog">
  <% if dog.avatar.attached? %>
    <%= image_tag dog.avatar.variant(:thumb) %><br>
  <% end %>
  <strong>Name:</strong> <%= dog.name %>, a <%= (Time.zone.now.to_date - dog.birthdate).to_i / 365 %> year old <%= dog.breed %> weighing <%= dog.weight %> lbs.
</div>
