<div class="dog partial-dog">
  <% if dog.avatar.attached? %>
    <div class="image">
      <% if image_link %>
        <%= link_to image_tag(dog.avatar.variant(:thumb), alt: 'Dog picture'), dog_path(dog), data: { turbo_frame: "_top" } %><br>
      <% else %>
        <%= image_tag dog.avatar.variant(:thumb) %><br>
      <% end %>
    </div>
  <% end %>
  <div class="details">
    <p class="text">
    <%= dog.name %>
    <% if full_details %>
      , a <%= dog.breed %> weighing <%= dog.weight %> lbs, born in <%= dog.birthdate.year %>.
    <% end %>
    <% if show_ownership %>
      <% if current_user && dog.user == current_user %>
        YOUR best friend!
      <% else %>
        Best friend of <%= link_to dog.user.username, user_path(dog.user) %>.
      <% end %>
    <% end %>
    </p>
  </div>
</div>
