<div class="dog partial-dog">
  <% if dog.avatar.attached? %>
    <% image_size = 'thumb' if image_size.nil? %>
    <% avatar_tag_link = image_size == 'thumb' ? dog.avatar.variant(:thumb) : dog.avatar %>
    <div class="image">
      <% if image_link %>
        <%= link_to image_tag(avatar_tag_link, alt: 'Dog picture'), dog_path(dog), class: 'avatar', data: { turbo_frame: "_top" } %><br>
      <% else %>
        <%= image_tag avatar_tag_link, class: 'avatar' %><br>
      <% end %>
    </div>
  <% end %>
  <div class="details">
    <p class="text">
    <%= dog.name %><% if full_details %>, an <%= dog.weight %> lbs <%= dog.breed %>, born <%= dog.birthdate.year %>.<% end %>
    <% if show_ownership %>
      <% if current_user && dog.user == current_user %>
        YOUR best friend!
      <% else %>
        Best friend of <%= link_to dog.user.username, user_path(dog.user) %>.
      <% end %>
    <% end %>
    </p>
  </div>
</div>
