<div class="dog partial-dog">
  <% if dog.avatar.attached? %>
    <%= image_tag dog.avatar.variant(:thumb) %><br>
  <% end %>
  <%= dog.name %>, a 
  <%= dog.breed %> weighing <%= dog.weight %> lbs, born in <%= dog.birthdate.year %>.
</div>
