<%= form_with(method: :get) do |f| %>
  <%= f.label :flickr_user_id, "Flickr user-id:" %>
  <%= f.text_field :flickr_user_id %>
  <%= f.submit "Load images" %>
<% end %>

<% if !@photos.nil? %>
<h3>Images:</h3>
<div class="images">
  <% @photo_urls.each do |photo_url| %>
    <div class="image"><%= image_tag("#{photo_url}", alt: 'Flickr Image') %></div>
  <% end %>
</div>
<% end %>