<div class="dogs core-window">
  <div class="index transparent-bg core-content">
    <div class="title">Dogs</div>
        <div class="top">
        <% if current_user && current_user.primary_address %>
          <%= form_tag(dogs_path, method: :get) do %>
            <%= label_tag 'distance', 'Choose Nearby Distance:' %>
            <% selected_distance = params[:distance].present? ? params[:distance] : '25' %>
            <%= select_tag 'distance', options_for_select(['10', '25', '50', '100', 'all'], selected: selected_distance) %>
            <%= submit_tag 'Filter' %>
          <% end %>
        <% end %>
        <%= render 'shared/pagination', page: @page, total_pages: @total_pages %>
      </div>
      <hr>

      <div class="list">
        <% @dogs.each do |dog| %>
          <% status = "" %>
          <% status = " followed" if current_user && current_user.following?(dog) %>
          <% status = " owned" if current_user && current_user.id == dog.user_id %>
          <div class="list-dog<%= status %>">
            <%= render dog, full_details: false, show_ownership: false, image_link: true %>
          </div>
        <% end %>
      </div>
    </div>
  
</div>
