<div class="dogs core-window">
  <div class="show transparent-bg core-content has-bottom-navbar">
    <div class="dog-details details-bar">
      <%= render @dog, full_details: true, show_ownership: true, image_size: 'full', image_link: false %>

      <%= turbo_frame_tag "dog-following", class: "actions" do %>
        <% if current_user %>
          <% if current_user.following?(@dog) && @dog.user_id != current_user.id %>
            <%= link_to unfollow_dog_path(@dog), class: "action-button wide", method: :delete, data: {turbo_method: :delete } do %>
              <%= render 'shared/minusbutton', btn_text: 'UNTRACK' %>
            <% end %>
          <% elsif @dog.user_id != current_user.id %>
            <%= link_to follow_dog_path(@dog), class: "action-button wide", method: :post, data: {turbo_method: :post } do %>
              <%= render 'shared/plusbutton', btn_text: 'TRACK' %>
            <% end %>
          <% elsif @dog.user_id == current_user.id %>
            <%= link_to edit_dog_path(@dog), class: "action-button", method: :get, data: {turbo_method: :get, turbo_frame: "_top" } do %>
              <%= render 'shared/editbutton' %>
            <% end %>
            <%= link_to dog_path(@dog), class: "action-button", data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure you want to remove #{@dog.name}'s entry?"} do %>
              <%= render 'shared/deletebutton' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="contents" data-window-target="contentContainer">
      <%= render 'contents/contentfeed', feed_contents: @dog_feed, empty_link: 'image' %>
    </div>
  </div>
</div>
