<p style="color: green"><%= notice %></p>

<%= render @dog %>

<div>
  <%= link_to "Edit", edit_dog_path(@dog) %> |
  <% if current_user %>
    <% if current_user.following?(@dog) && @dog.user_id != current_user.id %>
      <%= link_to 'Unfollow', unfollow_dog_path(@dog), method: :delete, data: {turbo_method: :delete} %> |
    <% elsif @dog.user_id != current_user.id %>
      <%= link_to 'Follow', follow_dog_path(@dog), method: :post, data: {turbo_method: :post} %> |
    <% elsif @dog.user_id == current_user.id %>
      <%= link_to "Delete", @dog, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@dog.name}'s entry?"} %>
    <% end %>
  <% end %>
</div>
