<div class="single-input">
  <%= form.label :name %>
  <%= form.text_field :name, required: true, class: "require-toggle" %>
</div>

  <div class="single-input">
    <%= form.label :dog_size %>
    <span class="radio-button"><%= form.radio_button :dog_size, :small %> <%= form.label :dog_size, value: :small, class: "dog-size" %></span>
    <span class="radio-button"><%= form.radio_button :dog_size, :large %> <%= form.label :dog_size, value: :large, class: "dog-size" %></span>
    <span class="radio-button"><%= form.radio_button :dog_size, :both %> <%= form.label :dog_size, value: :both, class: "dog-size" %></span>
  </div>

<br>
<%= form.fields_for :address do |address_form| %>
  <%= render 'shared/addressform', address_form: address_form, include_name: false %>
<% end %>