<h3>
  <%= dog_park.name %> 
  <% if current_user && current_user.primary_address %>
    (<%= dog_park.address.distance_from(current_user.primary_address).round(1) %> mi away)
  <% end%>
</h3>

<p>For <%= dog_park.dog_size.humanize.downcase %> dogs</p>

<%= dog_park.address.address_one %>
<% if dog_park.address.address_two != ''%>
  <br><%= dog_park.address.address_two %>
<% end %>
<br><%= dog_park.address.city %>, <%= dog_park.address.state %> <%= dog_park.address.postal_code %>
<br><%= dog_park.address.country %>