<div class="dog-park core-window">
  <div class="new transparent-bg core-content">
    <div class="title">New Dog Park</div>

    <%= form_with(model: @dog_park, url: dog_parks_path, local: true) do |form| %>
      
      <%= render 'dogparkform', form: form %>

      <div class="wide-button">
        <%= form.submit "Create", class: "simple-btn create" %>
      </div>

      <% if @dog_park.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@dog_park.errors.count, "error") %> prohibited this dog park from being saved:</h2>

          <ul>
            <% @dog_park.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>