<div class="core-window registrations">
  <div class="core-content transparent-bg">
    <div class="title">Forgot your password?</div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field single-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <%= f.submit "Reset Password", class: "simple-btn small test" %>

      <%= link_to "Resend confirmation email?", new_confirmation_path(resource_name) %>
      <%= link_to "Back to login", new_session_path(resource_name) %>
      <%= render "shared/errors", object: resource %>
    <% end %>
  </div>
</div>
