<% if include_name %>
  <div>
    <%= address_form.label :name %>
    <%= address_form.text_field :name, required: true %>
  </div>
<% end %>

<div>
  <%= address_form.label :address_one %>
  <%= address_form.text_field :address_one, required: true %>
</div>

<div>
  <%= address_form.label :address_two %>
  <%= address_form.text_field :address_two %>
</div>

<div>
  <%= address_form.label :city %>
  <%= address_form.text_field :city, required: true %>
</div>

<div>
  <%= address_form.label :state %>
  <%= address_form.text_field :state %>
</div>

<div>
  <%= address_form.label :country %>
  <%= address_form.text_field :country, required: true %>
</div>

<div>
  <%= address_form.label :postal_code %>
  <%= address_form.text_field :postal_code %>
</div>