<%= turbo_frame_tag "barks_#{barkable.class.name}_#{barkable.id}", class: "barks" do %>
  <% if current_user && current_user.id != barkable.user_id %>
    <%= form_with(model: Bark, id: "new_bark_form_#{barkable.class.name}_#{barkable.id}", remote: true) do |form| %>
      <%= form.hidden_field :barkable_type, value: barkable.class.name.downcase %>
      <%= form.hidden_field :barkable_id, value: barkable.id %>

      <% if current_user.bark_sound == 'custom' %>
        <% url = current_user.custom_bark.attached? ? rails_blob_path(current_user.custom_bark) : 'mute' %>
      <% elsif current_user.bark_sound == 'mute' %>
        <% url = 'mute' %>
      <% else %>
        <% url = asset_path(current_user.bark_sound) %>
      <% end %>

      <%= button_to(url, method: :post, form: { class: "btn btn-primary" }, remote: true) do %>
        <%= image_tag asset_path("bark.png"), alt: "Bark Image" %>
      <% end %>
    <% end %>
  <% end %>
  <div class="count">
    <% barks_count = defined?(@barks_counts) ? (@barks_counts[barkable.id] || 0) : barks.count %>
    <% barks_sum = defined?(@barks_sums) ? (@barks_sums[barkable.id] || 0) : barks.sum(:num) %>
    <%= barks_sum %> barks from <%= barks_count %> users
  </div>
<% end %>
