<% if comments_mode == 'short' %> <!-- This shortened version appears in the feed or index -->
  <div class='comments-num-link'>
    <%= link_to "#{comments.count} comments", polymorphic_path(commentable) %>
  </div>
<% else %> <!-- This longer version appears in the full SHOW view -->
  <%= turbo_frame_tag "comments_#{commentable.class.name}_#{commentable.id}", class: "comments-turbo" do %>
    <div class="comments-full" data-controller="comments">
      <div class="comments-title"> 
        <span class="text">Comments</span>
        <span>
          <button class="show-btn hidden" data-action="click->comments#expand" data-comments-target="expander">
            <span class="icon">
              <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
              </svg>
            </span>
          </button>
          <button class="hide-btn" data-action="click->comments#collapse" data-comments-target="collapser">
            <span class="icon">
              <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M20 14H4V10H20" />
              </svg>
            </span>
          </button>
        </span>
      </div>
      <div class="comment-list" data-comments-target="commentlist">
        <% comments.each do |comment| %>
          <div class="comment">
            <% post_user = comment.user_id.nil? ? '[deleted]' : comment.user.username %>
            <span class="comment-user"><%= post_user %>:</span> <%= comment.body %><br>
          </div>
        <% end %>

        <% if current_user %>
          <div class="add-comment-form">
            <%= form_with(model: Comment.new, id: "new_comment_form_#{commentable.class.name}_#{commentable.id}", remote: true) do |form| %>
              <%= form.text_area :body, placeholder: "Add a comment...", rows: 2, maxlength: 250, required: true %>
              <%= form.hidden_field :commentable_type, value: commentable_type %>
              <%= form.hidden_field :commentable_id, value: commentable.id %>
              <%= form.submit "Post Comment", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>