<div class="content">
  <% if content.title != ''%>
    <div class="title"> <%= content.title %> </div>
  <% end %>
  <% if type == 'video' %>
    <div class="video-container" data-controller="contents">
      <% metadata = content.attached_video.blob.metadata %>
      <% aspect_ratio = metadata[:width].to_f / metadata[:height].to_f %>
      <%= video_tag rails_blob_path(content.attached_video, only_path: true), controls: true, data: {contents_target: "video", aspect_ratio: aspect_ratio } %>
    </div>
  <% elsif type == 'image' %>
    <% content.attached_images.each do |attached_image| %>
      <%= image_tag attached_image.variant(media_size) %>
    <% end %>
  <% end %>
  <% if content.body != '' && !content.body.nil? %>
    <p> <%= content.body %> </p>
  <% end%>

  <div class="barks-comments-<%= comments_mode %>">
    <%= render "shared/barks", barks: barks, barkable: content %><% if comments_mode != 'full' %> | <% end %> 
    <%= render "shared/comments", commentable: content, comments: comments, commentable_type: 'content', comments_mode: comments_mode %>
  </div>
</div>