<% if object.errors.any? || flash[:alert] %>
  <div class="errors" style="color: red">
    <% if defined?(title) && title != ''%>
      <div class="title">Errors prohibited this <%= object.class.name.downcase %> from being posted:</div>
    <% end %>

    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="flash flash-<%= key %>">
          <li><%= value %></li>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="notices" style="color: green">
      <% flash.each do |key, value| %>
        <% if key == 'notice'%>
          <div class="flash flash-<%= key %>">
            <li><%= value %></li>
          </div>
        <% end %>
      <% end %>
  </div>
<% end %>