<div class="navbar">
  <span class="logo"></span>
  <div class="links">
    <% paw_num = 0 %>
    <% if current_user %>
      <%= link_to feed_path, class: "link" do %>
        <%= image_tag asset_path("dog-house-1.svg") %>
        <span class="label">Home</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to dogs_path, class: "link" do %>
        <%= image_tag asset_path("dog-1.svg") %>
        <span class="label">Dogs</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to new_post_contents_path, class: "link" do %>
        <%= image_tag asset_path("dog-post.svg") %>
        <span class="label">Post</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to new_image_contents_path, class: "link" do %>
        <%= image_tag asset_path("dog-image.svg") %>
        <span class="label">Image</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to new_video_contents_path, class: "link" do %>
        <%= image_tag asset_path("dog-video.svg") %>
        <span class="label">Video</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to play_dates_path, class: "link" do %>
        <%= image_tag asset_path("dog-date.svg") %>
        <span class="label">Playdates</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to dog_parks_path, class: "link" do %>
        <%= image_tag asset_path("park.svg") %>
        <span class="label">Parks</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to user_path(current_user), class: "link" do %>
        <%= image_tag asset_path("dog-human-1.svg") %>
        <span class="label">Profile</span>
      <% end %>
      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to destroy_user_session_path, class: "link", method: :delete, data: {turbo_method: :delete} do %>
        <%= image_tag asset_path("dog-bones-x.svg") %>
        <span class="label">Logout</span>
      <% end %>
    <% else %>
      <%= link_to dogs_path, class: "link" do %>
        <%= image_tag asset_path("dog-1.svg") %>
        <span class="label">Dogs</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to play_dates_path, class: "link" do %>
        <%= image_tag asset_path("dog-date.svg") %>
        <span class="label">Playdates</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to dog_parks_path, class: "link" do %>
        <%= image_tag asset_path("park.svg") %>
        <span class="label">Parks</span>
      <% end %>

      <% if paw_num != 0 %>
        <div class="paw-line">
          <% paw_num.times do %>
            <%= image_tag asset_path("paw.svg"), class: "paw" %>
          <% end %>
        </div>
      <% end %>

      <%= link_to new_user_session_path, class: "link" do %>
        <%= image_tag asset_path("dog-bone.svg") %>
        <span class="label">Login</span>
      <% end %>
    <% end %>
  </div>
</div>