<div class="navbar">
  <span class="logo"></span>
  <div class="links">
    <% if current_user %>
      <%= link_to feed_path, class: "link" do %>
        <%= image_tag "dog-house-1" %>
        <span class="label">Home</span>
      <% end %>

      <%= link_to dogs_path, class: "link" do %>
        <%= image_tag "dog-1" %>
        <span class="label">Dogs</span>
      <% end %>

      <%= link_to new_post_contents_path, class: "link" do %>
        <%= image_tag "dog-post" %>
        <span class="label">Post</span>
      <% end %>

      <%= link_to new_image_contents_path, class: "link" do %>
        <%= image_tag "dog-image" %>
        <span class="label">Image</span>
      <% end %>

      <%= link_to new_video_contents_path, class: "link" do %>
        <%= image_tag "dog-video" %>
        <span class="label">Video</span>
      <% end %>

      <%= link_to new_play_date_path, class: "link" do %>
        <%= image_tag "dog-date" %>
        <span class="label">Playdate</span>
      <% end %>

      <%= link_to dog_parks_path, class: "link" do %>
        <%= image_tag "park" %>
        <span class="label">Parks</span>
      <% end %>

      <%= link_to user_path(current_user), class: "link" do %>
        <%= image_tag "dog-human-1" %>
        <span class="label">Profile</span>
      <% end %>

      <%= link_to destroy_user_session_path, class: "link" do %>
        <%= image_tag "dog-bones-x" %>
        <span class="label">Logout</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "link" do %>
        <%= image_tag "dog-bone" %>
        <span class="label">Login/signup</span>
      <% end %>
    <% end %>
      <% if notice || alert %>
      - <span style="color: green"><%= notice %></span><span style="color: red"><%= alert %></span>
      <% end %>
  </div>
</div>