<div class="core-window registrations">
  <div class="core-content transparent-bg">
    <div class="title">Log in</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="single-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="single-input">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions wide-button">
        <%= f.submit "Log in", class: "simple-btn small create" %>
      </div>

      <%= render 'shared/errors', object: resource %>
    <% end %>
    <br>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
