<%= form_with(model: play_date, local: true, html: {"data-controller": "forms"}) do |form| %>
  <div class="single-input">
    <%= form.label :date, 'Date/Time' %>
    <%= form.datetime_local_field :date %>
  </div>

  <div class="single-input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="single-input">
    <%= form.label :dog_size %>
    <span class="radio-button"><%= form.radio_button :dog_size, :small %> <%= form.label :dog_size, value: :small, class: "dog-size" %></span>
    <span class="radio-button"><%= form.radio_button :dog_size, :large %> <%= form.label :dog_size, value: :large, class: "dog-size" %></span>
    <span class="radio-button"><%= form.radio_button :dog_size, :both %> <%= form.label :dog_size, value: :both, class: "dog-size" %></span>
  </div>

  <% if mode == 'Create' %>
    <%= render 'shared/dogselector', object: play_date, dogs: play_date.attendees, tag_string: 'play_date[dog_attendee_ids][]', action: 'select' %>
  <% end %>

  <div class="dog-park">
    <% if mode == 'Create' || play_date.attendees.all? { |dog| dog.user == current_user }  %>
      <div class="sub-title">Select Dog Park:</div>
      <% current_user.dog_park_followings.each do |dog_park_following| %>
        <label>
          <%= form.radio_button :dog_park_id, dog_park_following.dog_park.id, class: 'dog-park-radio' %>
          <%= dog_park_following.dog_park.name %>
        </label><br>
      <% end %>
      
      <% if mode == 'Create' %>
        <label>
          <%= form.radio_button :dog_park_id, 'new', class: 'dog-park-radio' %>
          New Dog Park
        </label>

        <div id="new_dog_park_form" style="display: none;">
          <%= form.fields_for :dog_park do |dog_park_form| %>
            <%= render 'shared/dogparkform', form: dog_park_form %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="single-input"><label>Dog-park:</label> <%= link_to play_date.dog_park.name, play_date.dog_park %></div>
    <% end %>
  </div>

  <div class="wide-button">
    <%= form.submit "#{mode.upcase}", "data-action": "click->forms#submitFormWithRequireDog", class: "create" %>
  </div>

  <%= render 'shared/errors', object: @play_date %>
<% end %>