<%= form_with(model: play_date, local: true, html: {"data-controller": "forms"}) do |form| %>
  <div class="single-input">
    <%= form.label :date, 'Date/Time' %>
    <%= form.datetime_local_field :date %>
  </div>

  <div class="single-input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="single-input">
    <%= form.label :dog_size %>
    <%= form.radio_button :dog_size, :small %> Small
    <%= form.radio_button :dog_size, :large %> Large
    <%= form.radio_button :dog_size, :both %> Both
  </div>

  <% if mode == 'Create' %>
    <div class="dog-list" data-controller="dogselector">
      <div class="sub-title">Select dogs</div>
      <div class="list">
      <% current_user.dogs.each do |dog| %>
        <div class="dog-checkbox">
          <%= check_box_tag 'play_date[dog_attendee_ids][]', dog.id, nil, { class: 'dog-select-checkbox', id: "dog_ids_#{dog.id}" } %>
          <% label_class = play_date.attendees.include?(dog) ? "dog-select-label clicked" : "dog-select-label"%>
          <%= label_tag "dog_ids_#{dog.id}", image_tag(dog.avatar.variant(:thumb), class: "dog-select"), class: label_class, data: { action: "click->dogselector#select" } %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <h4>Select Dog Park:</h4>
    <% current_user.dog_park_followings.each do |dog_park_following| %>
      <label>
        <%= form.radio_button :dog_park_id, dog_park_following.dog_park.id, class: 'dog-park-radio' %>
        <%= dog_park_following.dog_park.name %>
      </label><br>
    <% end %>
    
    <label>
      <%= form.radio_button :dog_park_id, 'new', class: 'dog-park-radio' %>
      New Dog Park
    </label>

    <div id="new_dog_park_form" style="display: none;">
      <%= form.fields_for :dog_park do |dog_park_form| %>
        <%= render 'shared/dogparkform', form: dog_park_form %>
      <% end %>
    </div>
  </div>

  <div class="wide-button">
    <%= form.submit "#{mode.upcase}", class: "create" %>
  </div>

  <%= render 'shared/errors', object: @play_date %>
<% end %>