<h3><%= link_to "Play Date @ #{play_date.dog_park.name}", play_date %></h3>

<p><strong>Date/Time:</strong> <%= play_date.date %></p>
<p><strong>Description:</strong> <%= play_date.description %></p>
<p><strong>Dog Size:</strong> <%= play_date.dog_size %></p>

<%= render play_date.dog_park %>

<h2>Dog Attendees</h2>
<ul>
  <% play_date.attendees.each do |dog| %>
    <% if dog.avatar.attached? %>
      <%= image_tag dog.avatar.variant(:attendee) %><br>
    <% end %>
    <%= link_to dog.name, dog %>
  <% end %>
</ul>

<% if current_user %>
  <%= form_tag attend_play_date_path(play_date), method: :post do %>
    <%= turbo_frame_tag "attend-play_date" do %>
      <% current_user.dogs.each do |dog| %>
        <label>
          <%= check_box_tag 'dog_attendee_ids[]', dog.id, play_date.attendees.include?(dog) %>
          <%= dog.name %>
        </label><br>
      <% end %>
    <% end %>

    <%= submit_tag 'Alter attendance' %>
  <% end %>
<% end %>

<%= render "shared/barks", barks: play_date.barks, barkable: play_date %>
<%= render "shared/comments", commentable: play_date, commentable_type: 'play_date', comments: play_date.comments, comments_mode: comments_mode %>