<div class="play-date transparent-bg">
  
  <div class="title-section">
    <div class="title"><%= link_to "Upcoming play date!", play_date %></div>
  </div>

  <% user_time_zone = current_user ? current_user.time_zone : 'UTC' %>
  <div class="details">
    <% size = play_date.dog_size == 'both' ? 'large and small' : play_date.dog_size %>
    <div class="item"><span class="label">Date/Time:</span> <%= play_date.date.in_time_zone(user_time_zone).strftime("%a, %b %e @ %l:%M%P") %></div>
    <div class="item"><span class="label">Dog Size:</span> <%= size %></div>
    <% unless play_date.description.nil? || play_date.description == '' %>
      <div class="item"><span class="label">Description:</span> <%= play_date.description %></div>
    <% end %>
  </div>

  <%= render play_date.dog_park, distance: @distance, include_size: false %>

  <%= turbo_frame_tag "play_date-#{play_date.id}-attendees", class: "dog-attendance" do %>
    <div class="title">Attendees</div>
    <div class="attendees">
      <% # Other users' dog attendance %>
      <% play_date.attendees.each do |dog| %>
        <% unless current_user && dog.user_id == current_user.id %>
          <% dog_class = current_user && @followed_dogs.include?(dog) ? "followed" : "" %>
          <%= link_to dog, data: { turbo_frame: "_top" } do %>
            <% if dog.avatar.attached? %>
              <%= image_tag dog.avatar.variant(:attendee), class: dog_class %><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% # Own users' dog attendance %>
    <% if current_user && play_date.date > DateTime.now() %>
      <%= form_tag attend_play_date_path(play_date), method: :post do %>
        <%= render 'shared/dogselector', object: play_date, dogs: play_date.attendees, tag_string: 'dog_attendee_ids[]', action: 'selectAndSubmit' %>
      <% end %>
    <% end %>
  <% end %>

  <div class="barks-comments-<%= comments_mode %>">
    <%= render "shared/barks", barks: play_date.barks, barkable: play_date %> <% unless comments_mode == 'full'%> | <% end %> 
    <%= render "shared/comments", comments: play_date.comments, commentable: play_date, commentable_type: 'play_date', comments_mode: comments_mode %>
  </div>

  <% if current_user && current_user.id == play_date.user_id && include_actions %>
    <div class="actions">
      <%= link_to edit_play_date_path(play_date), class: "action-button", method: :get, data: {turbo_method: :get, turbo_frame: "_top" } do %>
        <%= render 'shared/editbutton' %>
      <% end %>
      <% if play_date.attendees.all? { |dog| dog.user == current_user } %>
        <%= link_to play_date_path(play_date), class: "action-button", data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure you want to delete this"} do %>
          <%= render 'shared/deletebutton' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>