<div class="play-dates index core-window" data-window-target="contentContainer">
  <div class="filter-bar">
    <div class="title">Play Dates</div>
    <div class="filter-and-new">
      <% if true || (current_user && current_user.primary_address) || cookies[:user_location].present? %>
        <div class="form-and-locator">
          <%= render 'shared/locator', include_button: true %>
          <%= form_tag(play_dates_path, method: :get ) do %>
            <div class="single-input">
              <%= label_tag 'distance', 'Distance:' %>
              <% selected_distance = params[:distance].present? ? params[:distance] : '25' %>
              <%= select_tag 'distance', options_for_select(['10', '25', '50', '100'], selected: selected_distance), onchange: "this.form.submit();" %>
              <span class="units">(mi)</span>
            </div>
            <div class="single-input">
              <%= label_tag 'tracked', 'Parks:' %>
              <% all_playdates = params[:tracked].present? && params[:tracked] == 'tracked' ? false : true %>
              <span class="radio-button">
                <%= radio_button_tag 'tracked', 'tracked', !all_playdates, onchange: "this.form.submit();" %>
                <%= label_tag 'tracked_tracked', 'Tracked', class: 'shorter' %>
              </span>
              <span class="radio-button">
                <%= radio_button_tag 'tracked', 'all', all_playdates, onchange: "this.form.submit();" %>
                <%= label_tag 'tracked_all', 'All', class: 'shortest' %>
              </span>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="geo-warning">Cannot filter play dates by distance without a primary address!</div>
      <% end %>
      <div class="new">
        <%= link_to new_play_date_path, class: "action-button", method: :get, data: {turbo_method: :get} do %>
          <%= render 'shared/plusbutton', btn_text: 'NEW' %>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user && current_user.time_zone == 'UTC'%>
    <div class="timezone-warning core-content transparent-bg">
      <span>Your time-zone is currently set to UTC. To adjust check your <%= link_to 'profile', current_user %>.</span>
    </div>
  <% end %>
  <%= turbo_frame_tag 'play-dates-frame', class: 'has-bottom-navbar' do %>
    <%= render 'indexpage' %>
  <% end %>
</div>
